
h1{
    color:red;
    background-color: blue;
}
h1:hover{
    color:blue;
    background-color: red;
}

button{
    color: green;
    background-color: yellow; 
    width: 100px; 
    height: 50px;
}

button:hover{
    color:  yellow;
    background-color: green;
}

.diferente{
    color: white;
    background-color: black;
}
